<div id="{{ id }}" style="height: {{ height }}; width: {{ width }};"></div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Инициализация карты
    var map = L.map('{{ id }}').setView([{{ lat }}, {{ long }}], {{ defaultZoom }});

    // Путь к изображению карты
    var imageUrl = "{{ image }}";  // Путь к локальному изображению
    var imageBounds = [[{{ bounds[0][0] }} , {{ bounds[0][1] }}], [{{ bounds[1][0] }} , {{ bounds[1][1] }}]];

    // Загружаем изображение карты
    L.imageOverlay(imageUrl, imageBounds, {
      interactive: true,
      opacity: 1.0,
      attribution: "Map image"
    }).addTo(map);

    // Настройка тайлов карты
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Установка параметров зума
    map.setMinZoom({{ minZoom }});
    map.setMaxZoom({{
